<li class="list-group-item" *ngIf="todo">
    <input type="checkbox" [checked]="todo.status" (click)="tdservice.CambioStatus(todo.id)">
    <!-- {{todo.title}}  -->
    <span (click)="edit()" *ngIf="!isEdit">{{todo.title}}</span>
    <div  *ngIf="isEdit">
    <input type="text" [value]="todo.title" #item>
    <button type="button" class="btn btn-success" (click)="cambioTitolo(item)">Salva</button>
    </div>
    <button type="button" class="btn btn-danger" (click)="tdservice.EliminaTodoItem(todo)">Elimina</button>
</li>
