<li class="list-group-item" *ngIf="todo">
    <input type="checkbox" [checked]="todo.status" (click)="tdservice.ChangeStatus(todo.id)">
    <!-- {{todo.title}}  -->
    <span (click)="EditStatusTitle()" *ngIf="!isEdit" [ngClass]="CompletedTask()">{{todo.title}}</span>
    <div  *ngIf="isEdit">
    <input type="text" [value]="todo.title" #item>
    <button type="button" class="btn btn-success" (click)="ChangeTitle(item)" >Save</button>
    </div>
    <button type="button" class="btn btn-danger ms-2" (click)="tdservice.DeleteTodoItem(todo)">Delete</button>
</li>
